/* Scala Tipografica di Pagina */

h1{
    font-size: 2.986rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h2{
    font-size: 2.488rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h3{
    font-size: 2.074rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h4{
    font-size: 1.728rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h5{
    font-size: 1.44rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h6{
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

p{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

a, small{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

img{
    width: 200px;
}

/* Stile Generale di Pagina */

body{
    background-color: #F2E8DC;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.title-box{
    padding: 32px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-weight: 520;
}

.title-box h4{
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    color: #D9306E;
}

.card-emplo-parent{
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 10px;
}

.img-card{
    width: 150px;
    overflow: hidden;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    overflow: hidden;
    background-color: #0D0D0D;
}

.text-cards{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
}

.text-cards a{
   margin: 0;
   font-weight: 700;
}

.text-cards h3{
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    color: #F2E8DC;
    margin: 0;
}

.text-cards p{
    text-align: left;
    text-transform: capitalize;
    font-weight: 200;
    color: #F2E8DC;
    margin: 0;
}
